*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/Intep/nbproject/private/
/bin/Intep/build/
/Reference materials/Reference material from Ali/Scriptning-Redovisning/Interpretator/nbproject/private/
/Project/nbproject/private/
/Project/build/
/Reference materials/Scriptning-Redovisning/Interpretator/build/
/Reference materials/Scriptning-Redovisning/Interpretator/nbproject/private/